body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #131313;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.title {
    font-size: 40px;
    margin-bottom: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav .button-container {
    display: flex;
    flex-direction: column;
    width: 20%; /* Adjust as needed */
}

nav button {
    background-color: #505050;
    color: rgb(0, 0, 0);
    border: none;
    padding: 20px 30px;
    margin: 10px 0;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
}

nav button:hover {
    background-color: #666666;
}

.info-list {
    text-align: center;
    margin: 20px 0;
    font-size: 18px;
    width: 40%; /* Adjust as needed */
}

.info-list div {
    display: flex;
    align-items: center;
    margin: 5px 0;
    justify-content: center;
}

.color-box {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 3px;
}

.dark-blue {
    background-color: darkblue;
}

.light-blue {
    background-color: lightblue;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.purple {
    background-color: purple;
}
